:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* CSS  for hamburguer menu */

@keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
#overlay-button {
  position: absolute;
  right: 1em;
  padding: 30px 11px;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}
#overlay-button span {
  height: 4px;
  width: 35px;
  border-radius: 2px;
  background-color: #f9f3e3;
  position: relative;
  display: block;
  transition: all 0.2s ease-in-out;
}
#overlay-button span:before {
  top: -10px;
  visibility: visible;
}
#overlay-button span:after {
  top: 10px;
}
#overlay-button span:before,
#overlay-button span:after {
  height: 4px;
  width: 35px;
  border-radius: 2px;
  background-color: #f9f3e3;
  position: absolute;
  content: "";
  transition: all 0.2s ease-in-out;
}
#overlay-button:hover span,
#overlay-button:hover span:before,
#overlay-button:hover span:after {
  background: #ffefc0;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked ~ #overlay {
  max-height: 100vh;
}
input[type="checkbox"]:checked ~ #overlay-button:hover span,
input[type="checkbox"]:checked ~ #overlay-button span {
  background: transparent;
}
input[type="checkbox"]:checked ~ #overlay-button span:before {
  transform: rotate(45deg) translate(7px, 7px);
  opacity: 1;
}
input[type="checkbox"]:checked ~ #overlay-button span:after {
  transform: rotate(-45deg) translate(7px, -7px);
}
#overlay {
  width: 100vw;
  background: #ce3045;
  max-height: 0;
  overflow: hidden;
  transition: all ease-in-out 0.5s;
  position: absolute;
  margin-top: 64px;
}
#overlay.active {
  max-height: 100vh;
}
#overlay ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 0;
  list-style-type: none;
}
#overlay ul li {
  padding: 1em;
}
#overlay ul li a {
  color: #f9f3e3;
  text-decoration: none;
}

/* PHONE CSS */

.phone-container {
  position: relative;
  transform: perspective(1000px) rotateY(-5deg);
  animation: floatPhone 6s ease-in-out infinite;
}

@keyframes floatPhone {
  0%,
  100% {
    transform: perspective(1000px) rotateY(-5deg) translateY(0px);
  }
  50% {
    transform: perspective(1000px) rotateY(-5deg) translateY(-10px);
  }
}

.phone-container {
  position: relative;
  transform: perspective(1000px) rotateY(5deg);
  animation: floatPhone 10s ease-in-out infinite;
}

@keyframes floatPhone {
  0%,
  100% {
    transform: perspective(1000px) rotateY(5deg) translateY(0px);
  }
  50% {
    transform: perspective(1000px) rotateY(5deg) translateY(-10px);
  }
}

.phone {
  /* position: relative; */
  height: 90%;
  aspect-ratio: calc(360 / 780);
  background-color: #7371ee;
  background-image: linear-gradient(60deg, #7371ee 1%, #a1d9d6 100%);
  border-radius: 0.5em;
  box-shadow: 0px 0px 0px 0.5vh #1f1f1f, 0px 0px 0px 0.5vh #191919,
    0px 0px 0px max(1vh, 5px) #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.phone i {
  content: "";
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 5;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: #191919;
}
.phone b {
  position: absolute;
  display: block;
  color: transparent;
  z-index: 49;
}
.phone b {
  top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.75vh;
  height: 0.75vh;
  background-color: #101010;
  border-radius: 999px;
  box-shadow: inset 0px -3px 2px 0px rgba(255, 255, 255, 0.2);
}
.phone b:after {
  content: "";
  position: absolute;
  background-color: #2d4d76;
  width: 50%;
  height: 50%;
  display: block;
  border-radius: 999px;
  box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.5);
}

.image-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.image-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image-slide.active {
  opacity: 1;
}
